{% extends 'base.html.twig' %}

{% block title %}
Hello HomeController!
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cerulean/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cerulean/variables.css" >
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
<div class="jumbotron mt-2 ms-3" >
  <h1>Bienvenue sur SymRecipe</h1>
  <p>SymRecipe est une application qui permet d'écrire et d'éditer des recettes pour ses amis ou tout le monde suivant vos choix.</p>
  <p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application.</p>
  <a class="btn btn-primary" href="">Inscription</a>
</div>
</div>
{% endblock %}
