<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand docs-creator" href="#">SymRecipe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active docs-creator" href="#">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link docs-creator" href="{{path('ingredient.index')}}">Ingrédients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link docs-creator" href="{{path('recipe.index')}}">Recettes</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="chercher">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>