{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de l'utilisateur
{% endblock %}

{% block body %}

	<div class="container mt-3">
		<h1>Modification du mot de passe de l'utilisateur</h1>
		<hr>
		{% include('partials/alert.html.twig') %}

		{{form(form)}}
		</div>
	{% endblock %}
